<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% if user.is_authenticated %}
{#    <form method="post">{% csrf_token %}#}
    <div class="d-flex flex-row">
        <div class="p-2"><h2>You are logged in as: <span class="badge badge-secondary">{{ user }}</span></h2></div>
        <div class="p-2"> <a class="btn btn-primary" href="{% url 'addressbook:logout' %}" role="button">Log out</a></div>
    </div>
{#    </form>#}
{% endif %}
