{% include 'base.html' %}
<form method="post" enctype='multipart/form-data'>{% csrf_token %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% for field in form %}
                    <div class="form-group">
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                        {{ field.label }} : {{ field }}
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-3">
                <h2>Emails</h2>
                {{ emails.as_p }}
            </div>
            <div class="col-md-3">
                <h2>Faxes</h2>
                {{ faxes.as_p }}
            </div>
            <div class="col-md-2">
                <h2>Phones</h2>
                {{ phones.as_p }}
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <input type="submit" value="Save">
            </div>
        </div>
    </div>
</form>

    <a href="{% url 'addressbook:index' %}">Go back</a>