{% include 'base.html' %}
<h1>{{ bookrecord }}</h1>
<ul>
    {% for field in form_object %}
        {% if field.label == "Image" and image.url %}
            <p><img src="{{ image.url }}" width="300px" alt="mocked image"></p>
        {% else %}
        <li><b>{{ field.label }} </b>: {{ field.data }}</li>
        {% endif %}
    {% endfor %}

    {% if bookrecord.phones.exists %}
        <li><b>phones:</b>
            {% for phone in bookrecord.phones.all %}
                {{ phone }},
            {% endfor %}
        </li>
    {% endif %}

    {% if bookrecord.faxes.exists %}
        <li><b>faxes:</b>
            {% for fax in bookrecord.faxes.all %}
                {{ fax }},
            {% endfor %}
        </li>
    {% endif %}
    {% if bookrecord.emails.exists %}
        <li><b>emails:</b>
            {% for email in bookrecord.emails.all %}
                {{ email }},
            {% endfor %}
        </li>
    {% endif %}

</ul>
<ul>
    <a href="{% url 'addressbook:update' bookrecord.id %}">Update record</a>
</ul>
<ul>
    <a href="{% url 'addressbook:delete' bookrecord.id %}">DELETE record</a>
</ul>
<a href="{% url 'addressbook:index' %}">Back to list</a>