{% include 'base.html' %}

{% if book_records %}

    <form action="{% url 'addressbook:index' %}" method="get">
        <div class="d-flex flex-row">

            <input name="q" type="text" placeholder="first or last name">
            <div class="col-md-6 ">
                <input type="submit" value="Search">
            </div>
        </div>

    </form>
    <ul>
        {% for record in book_records %}
            <li><a href="{% url 'addressbook:detail' record.id %}">{{ record }}</a></li>    {% endfor %}
    </ul>
{% else %}
    <p>Address book is empty.</p>
    <p> Add something! </p>

{% endif %}
<a href="{% url 'addressbook:create' %}">Add new record</a>

