{% include 'base.html' %}
<h1>Login</h1>

<form method="post">{% csrf_token %}
     <form action="/action_page.php">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username" placeholder="Enter username" id="username">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" placeholder="Enter password" id="pwd" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</form>